<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363379648313-bkcb8obr8ecbgjcifpgai15oiuvl32uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363379648313-bkcb8obr8ecbgjcifpgai15oiuvl32uc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>363379648313-55qf29v5b1da5q90r1sof7t9a7hja8ij.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtHZYzLa2F_kAg0grWYLV8Tw6vLNziJ6c</string>
	<key>GCM_SENDER_ID</key>
	<string>363379648313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fffan.hackathon</string>
	<key>PROJECT_ID</key>
	<string>fff-hackathon-6a592</string>
	<key>STORAGE_BUCKET</key>
	<string>fff-hackathon-6a592.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363379648313:ios:202a54e00f622a998f6ae8</string>
</dict>
</plist>